<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAplDHSiY1RE4n1v1JNyKwqpWfkUjObmyA</string>
	<key>GCM_SENDER_ID</key>
	<string>92514860692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ostad-7c47a</string>
	<key>STORAGE_BUCKET</key>
	<string>ostad-7c47a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92514860692:ios:4302039140ce04fda9fe81</string>
</dict>
</plist>